<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"> 
    
    <%
    var path_offset = "";
    var service_page_info = null;
    var current_page_name = "";
    var current_topic_page_info = null;
    var current_sub_service_page_info = null;
    for(var i = 0; i<nav_page_info.page_group_list.length; i++){
        if(nav_page_info.page_group_list[i].page_group_topic=="Service")
        {
            service_page_info = nav_page_info.page_group_list[i];
            for(var j = 0; j<service_page_info.page_list.length; j++){
                if(service_page_info.page_list[j].page_topic==topic) {
                    current_topic_page_info = service_page_info.page_list[j];
                    if(sub_service!=null && sub_service!="Not Specific") {
                        path_offset = "../..";
                        for(var k = 0; k<current_topic_page_info.sub_page_list.length; k++){
                            if(current_topic_page_info.sub_page_list[k].page_topic==sub_service) {
                                current_sub_service_page_info = current_topic_page_info.sub_page_list[k];
                                break;
                            }
                        }
                    }
                    else{
                        path_offset = "..";
                    }
                    break;
                }
            }
        }
    }

    if(service_page_info!=null)
    {
        if(current_topic_page_info!=null)
        {
            if(current_sub_service_page_info==null){
                current_page_name = current_topic_page_info.page_name
            } else{
                current_page_name = current_sub_service_page_info.page_name
            } %>
            <title><%=current_page_name%></title>
        <% }
    }
    %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <% if(service_page_info!=null && current_topic_page_info!=null){ %>
        <link href="<%=(path_offset+current_topic_page_info.page_title_icon)%>" rel="SHORTCUT ICON">
    <% } %>
    
    <link rel="stylesheet" type="text/css" href="<%=path_offset%>/css/metro-all.min.css">
    <link rel="stylesheet" type="text/css" href="<%=path_offset%>/css/jquery.gridly.css">

    <% if(current_sub_service_page_info!=null){
        if(current_sub_service_page_info.additional_css_URL_list!=null){
            for(var i = 0; i<current_sub_service_page_info.additional_css_URL_list.length; i++){ %>
                <link rel="stylesheet" type="text/css" href="<%=(path_offset+current_sub_service_page_info.additional_css_URL_list[i])%>">
    <%      }
        }
    } %>

    <link rel="stylesheet" type="text/css" href="<%=path_offset%>/css/c3.min.css">
    <script src="<%=path_offset%>/js/c3.min.js"></script>

    <style>
        .dropdown-toggle::before{
            border-color: #fff;
        }

        .device_name{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
        .rule_name{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
    </style>

    <script type="text/javascript" src="<%=path_offset%>/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="<%=path_offset%>/js/websocket.js"></script>
    <script type="text/javascript" src="<%=path_offset%>/js/metro.min.js"></script> 
    <script type="text/javascript" src="<%=path_offset%>/js/jquery.gridly.js"></script>

    <script src="<%=path_offset%>/bind_unbind/Bind_Unbind.js"></script>
    <script src="<%=path_offset%>/bind_unbind/Accessories.js"></script>

    <script src="<%=path_offset%>/device_mgmt/Devices.js"></script>
    <script src="<%=path_offset%>/group_mgmt/Groups.js"></script>
    
    <% 
    if(current_sub_service_page_info!=null){
        if(current_sub_service_page_info.additional_js_URL_list!=null){
            for(var i = 0; i<current_sub_service_page_info.additional_js_URL_list.length; i++){ %>
                <script type="text/javascript" src="<%=(path_offset+current_sub_service_page_info.additional_js_URL_list[i])%>"></script> 
    <%      }
        }
    } %>

    <script type="text/javascript" src="<%=path_offset%>/js/parse.js"></script> 
    
    <% if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){ %>
    
    <script type="text/javascript" src="<%=(path_offset+current_sub_service_page_info.page_control_js_URL)%>"></script> 
    
    <script type="text/javascript">

    var ws_get_sb = null;
    
    var serverURI = window.location.host;
        
    var currentUser = null;
    $(document).ready(function() {
        
        <% if(username=="everyone"){ %>
            websocket_init(serverURI, "<%=session_token%>", Handle_Bind_Unbind_WebSocket_Connect_Event, Handle_Bind_Unbind_WebSocket_POST_Message, Handle_Bind_Unbind_WebSocket_GET_Message, null, null);
        <% }
        else{ %>
            Parse.initialize("1mKE4z1Ys3ZF6eHCVhkaqdOpxGJFcAgZreXqRkAN", "XzcesPGvhrRSC0ZOZRBCfkdH3y1dV5hgBVA0pH1P", "I5LnTbJiP0kuh1dLM3PZw4lXO8UpEilqU2TLzDiB");
            Parse.serverURL = "https://"+serverURI+"/1";
            
            currentUser = Parse.User.current();
            if (currentUser) {
                // do stuff with the user
                Parse.Session.current().then(function(session) {
                    session.set("UI_sessionToken", "<%=session_token%>");
                    session.save().then(function() {
                        websocket_init(serverURI, "<%=session_token%>", Handle_Bind_Unbind_WebSocket_Connect_Event, Handle_Bind_Unbind_WebSocket_POST_Message, Handle_Bind_Unbind_WebSocket_GET_Message, null, null);
                    });
                });
            }
        <% } %>
    });

    (function () {
        $(function () {
            $('.gridly').gridly({
                base: 80, // px
                gutter: 8, // px
                columns: 8,
                'responsive': true
            });
            $(document).on("change", ".gridly", function (event) {
                event.preventDefault();
                event.stopPropagation();
                return $('.gridly').gridly();
            });
            return $('.gridly').gridly();
        });

    }).call(this);

    var map_accessories_info_list = [];
    var need_save_change = [];

    function Find_Accessories_Device_Index_By_ID(device_ID)
    {
        for(var i = 0; i<map_accessories_info_list.length; i++){
            if(map_accessories_info_list[i].device_ID==device_ID){return i;}
        }
        return -1;
    }

    function Get_Accessories_Device_ID_By_Index(index)
    {
        return map_accessories_info_list[Number(index)].device_ID;
    }

    function Get_Accessories_Device_Name_By_Index(index)
    {
        return map_accessories_info_list[Number(index)].device_Name;
    }

    function Get_Accessories_Device_Type_By_Index(index)
    {
        return map_accessories_info_list[Number(index)].device_Type;
    }

    function Handle_Bind_Unbind_WebSocket_Connect_Event()
    {
        Show_Accessories_List_Page();
    }

    function Bind_Unbind_Update_Accessories_Device_List()
    {
        GET_All_Accessories_Device_List(function(rsp_json){
            map_accessories_info_list = [];

            var show_accessories_html = [];
            
            for (var i = 0; i < rsp_json.device_list.length; i++) {
                map_accessories_info_list.push({
                    "device_ID":rsp_json.device_list[i].device_ID,
                    "device_Name":rsp_json.device_list[i].device_Name,
                    "device_Type":rsp_json.device_list[i].device_Type
                });

                <%
                if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){
                    switch(current_sub_service_page_info.bind_unbind_tile_background_type){
                        case "css": %>
                            show_accessories_html.push("<div id=\"accessories_ctrl_tile_"+ i +"\" data-role=\"hint\" onclick=\"Show_BindUnbind_OP_Page('" + i + "')\" class=\"tile-medium <%=current_sub_service_page_info.bind_unbind_tile_background_css%> fg-white\"\
                                data-hint-position=\"top\" data-hint-text=\"" + rsp_json.device_list[i].device_Name + "\">");
                            <% switch(current_sub_service_page_info.bind_unbind_tile_icon_type){
                                case "css": %>
                                show_accessories_html.push("<span class=\"<%=current_sub_service_page_info.bind_unbind_tile_icon_css%> mif-4x icon\"></span>");
                                show_accessories_html.push("<span class=\"branding-bar device_name\" style=\"font-size: 20px\">" + rsp_json.device_list[i].device_Name + "</span>");
                                    <% break;
                                case "URL": %>
                                show_accessories_html.push("<img class=\"icon\" style=\"display: inline;\" src=\"<%=current_sub_service_page_info.bind_unbind_tile_icon_URL%>\"/>");
                                show_accessories_html.push("<span class=\"branding-bar device_name\" style=\"font-size: 20px\">" + rsp_json.device_list[i].device_Name + "</span>");
                                    <% break;
                            } %>
                            show_accessories_html.push("</div>");
                            <% break;
                        case "URL": %>
                            show_accessories_html.push("<div id=\"accessories_ctrl_tile_"+ i +"\" data-role=\"hint\" class=\"tile-medium fg-white\" data-hint-position=\"top\" data-hint-text=\"" + rsp_json.device_list[i].device_Name + "\"\
                                data-cover=\"<%=current_sub_service_page_info.bind_unbind_tile_background_URL%>\" onclick=\"Show_BindUnbind_OP_Page('" + i + "')\">");
                            show_accessories_html.push("<span class=\"branding-bar\">" + rsp_json.device_list[i].device_Name + "</span>");
                            show_accessories_html.push("</div>");
                            <% break;
                    }
                }
                %>
            }

            if(!$('#bind_unbind_display_area').hasClass('gridly'))
            {
                $('#bind_unbind_display_area').addClass('gridly');
            }

            $('#bind_unbind_display_area').html('');
            $('#bind_unbind_display_area').html(show_accessories_html.join(''));
            
            $('.gridly').trigger("change");
            $('.gridly').gridly('draggable', 'off');
            $('.gridly').gridly({'responsive': true});
        });
    }
    function Show_Accessories_List_Page()
    {
        $('#bind_unbind_toolbar').html('');
        Bind_Unbind_Update_Accessories_Device_List();
    }

    function Print_Bind_Unbind_Avaliable_Device_List(index_str, target_topic_type, print_id_str)
    {
        selected_target_ID = $('#bind_unbind_selected_target_text_area_'+index_str).val();

        GET_All_Device_List(target_topic_type, function(all_dev_lst_json){
            var show_available_device_list = [];

            show_available_device_list.push("<div class=\"tiles-grid\">");
            for(var i = 0; i<all_dev_lst_json.device_list.length; i++)
            {
                <%
                if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){
                    switch(current_sub_service_page_info.bind_unbind_target_device_tile_background_type){
                        case "css": %>
                            show_available_device_list.push("<div data-role=\"hint\" class=\"tile-small <%=current_sub_service_page_info.bind_unbind_target_device_tile_background_css%> fg-white\" style=\"margin-left: 4px;margin-top: 4px;\" id=\"device_"+index_str+"_bind_target_"+ all_dev_lst_json.device_list[i].device_ID +"\" \
                                data-hint-position=\"top\" data-hint-text=\"" + all_dev_lst_json.device_list[i].device_Name + "\" onclick=\"onClick_Selected_Target_Tile('"+index_str+"', '"+print_id_str+"', '" + all_dev_lst_json.device_list[i].device_ID + "')\">");
                            <% switch(current_sub_service_page_info.bind_unbind_target_device_tile_icon_type){
                                case "css": %>
                                    show_available_device_list.push("<span class=\"<%=current_sub_service_page_info.bind_unbind_target_device_tile_icon_css%> mif-4x icon\"></span>");
                                    show_available_device_list.push("<span class=\"branding-bar device_Name\" style=\"font-size: 10px;margin-bottom: -5px\">" + all_dev_lst_json.device_list[i].device_Name + "</span>");
                                    <% break;
                                case "URL": %>
                                    show_available_device_list.push("<img class=\"icon\" style=\"display: inline;\" src=\"<%=current_sub_service_page_info.bind_unbind_target_device_tile_icon_URL%>\"/>");
                                    show_available_device_list.push("<span class=\"branding-bar device_Name\" style=\"font-size: 10px;margin-bottom: -5px\">" + all_dev_lst_json.device_list[i].device_Name + "</span>");
                                    <% break;
                            } %>
                            show_available_device_list.push("</div>");
                            <% break;
                        case "URL": %>
                            show_available_device_list.push("<div data-role=\"hint\" class=\"tile-small fg-white\" style=\"margin-left: 4px;margin-top: 4px;\" data-cover=\"<%=current_sub_service_page_info.bind_unbind_target_device_tile_icon_URL%>\" id=\"device_"+index_str+"_bind_target_"+ all_dev_lst_json.device_list[i].device_ID +"\" \
                                data-hint-position=\"top\" data-hint-text=\"" + all_dev_lst_json.device_list[i].device_Name + "\" onclick=\"onClick_Selected_Target_Tile('"+index_str+"', '"+print_id_str+"', '" + all_dev_lst_json.device_list[i].device_ID + "')\">");
                            show_available_device_list.push("<span class=\"branding-bar\">" + all_dev_lst_json.device_list[i].device_Name + "</span>");
                            show_available_device_list.push("</div>");
                            <% break;
                    }
                } %>
            }
            show_available_device_list.push("</div>");

            $('#'+print_id_str).html('');
            $('#'+print_id_str).html(show_available_device_list.join(''));

            if(selected_target_ID!=null)
            {
                $('#device_'+index_str+'_bind_target_'+selected_target_ID).addClass("selected");
            }
            if($('#'+print_id_str+" div").hasClass("selected"))
            {
                $('#bind_confirm_select_target_btn_'+index_str).prop('disabled', false);
            }
        });
    }

    function Print_Bind_Unbind_Avaliable_Group_List(index_str, target_topic_type, print_id_str)
    {
        selected_target_ID = $('#bind_unbind_selected_target_text_area_'+index_str).val();
        
        GET_All_Group_List(target_topic_type, function(all_gp_lst_json){
            var show_available_group_list = [];

            show_available_group_list.push("<div class=\"tiles-grid\">");
            for(var i = 0; i<all_gp_lst_json.group_list.length; i++)
            {
                <%
                if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){
                    switch(current_sub_service_page_info.bind_unbind_target_group_tile_background_type){
                        case "css": %>
                            show_available_group_list.push("<div data-role=\"hint\" class=\"tile-small <%=current_sub_service_page_info.bind_unbind_target_group_tile_background_css%> fg-white\" style=\"margin-left: 4px;margin-top: 4px;\" id=\"device_"+index_str+"_bind_target_"+ all_gp_lst_json.group_list[i].group_ID +"\" \
                                data-hint-position=\"top\" data-hint-text=\"" + all_gp_lst_json.group_list[i].group_Name + "\" onclick=\"onClick_Selected_Target_Tile('"+index_str+"', '"+print_id_str+"', '" + all_gp_lst_json.group_list[i].group_ID + "')\">");
                            <% switch(current_sub_service_page_info.bind_unbind_target_group_tile_icon_type){
                                case "css": %>
                                    show_available_group_list.push("<span class=\"<%=current_sub_service_page_info.bind_unbind_target_group_tile_icon_css%> mif-4x icon\"></span>");
                                    show_available_group_list.push("<span class=\"branding-bar group_Name\" style=\"font-size: 10px;margin-bottom: -5px\">" + all_gp_lst_json.group_list[i].group_Name + "</span>");
                                    <% break;
                                case "URL": %>
                                    show_available_group_list.push("<img class=\"icon\" style=\"display: inline;\" src=\"<%=current_sub_service_page_info.bind_unbind_target_group_tile_icon_URL%>\"/>");
                                    show_available_group_list.push("<span class=\"branding-bar group_Name\" style=\"font-size: 10px;margin-bottom: -5px\">" + all_gp_lst_json.group_list[i].group_Name + "</span>");
                                    <% break;
                            } %>
                            show_available_group_list.push("</div>");
                            <% break;
                        case "URL": %>
                            show_available_group_list.push("<div data-role=\"hint\" class=\"tile-small fg-white\" style=\"margin-left: 4px;margin-top: 4px;\" data-cover=\"<%=current_sub_service_page_info.bind_unbind_target_group_tile_background_URL%>\" id=\"device_"+index_str+"_bind_target_"+ all_gp_lst_json.group_list[i].group_ID +"\" \
                                data-hint-position=\"top\" data-hint-text=\"" + all_gp_lst_json.group_list[i].group_Name + "\" onclick=\"onClick_Selected_Target_Tile('"+index_str+"', '"+print_id_str+"', '" + all_gp_lst_json.group_list[i].group_ID + "')\">");
                            show_available_group_list.push("<span class=\"branding-bar\">" + all_gp_lst_json.group_list[i].group_Name + "</span>");
                            show_available_group_list.push("</div>");
                            <% break;
                    }
                } %>
            }
            show_available_group_list.push("</div>");

            $('#'+print_id_str).html('');
            $('#'+print_id_str).html(show_available_group_list.join(''));
            
            if(selected_target_ID!=null)
            {
                $('#device_'+index_str+'_bind_target_'+selected_target_ID).addClass("selected");
            }
            if($('#'+print_id_str+" div").hasClass("selected"))
            {
                $('#bind_confirm_select_target_btn_'+index_str).prop('disabled', false);
            }
        });
    }

    function Print_Status_OK(print_id_str)
    {
        var print_status = [];

        print_status.push("<h2 class=\"fg-green mif-checkmark\"></h2>");

        $('#'+print_id_str).html('');
        $('#'+print_id_str).html(print_status.join(''));
    }

    function Print_Status_Error(print_id_str)
    {
        var print_status = [];

        print_status.push("<h2 class=\"fg-red mif-cross\"></h2>");

        $('#'+print_id_str).html('');
        $('#'+print_id_str).html(print_status.join(''));
    }

    function onClick_Show_Target_List_Btn(index_str)
    {
        var target_address_type = Metro.getPlugin('#select_bind_target_address_type_'+index_str, 'select').val();
        if(target_address_type==null){return;}
         
        var target_topic_type = "default";

        <% 
        if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){
            var bind_unbind_multi_target_topic_type = false;
            if(current_sub_service_page_info.bind_unbind_multi_target_topic_type!=null &&
                current_sub_service_page_info.bind_unbind_target_topic_type_list!=null &&
                current_sub_service_page_info.bind_unbind_target_topic_icon_type_list!=null &&
                current_sub_service_page_info.bind_unbind_target_topic_icon_list!=null){
                    if(current_sub_service_page_info.bind_unbind_multi_target_topic_type=true){
                        bind_unbind_multi_target_topic_type = true;
                    }
            }
            if(bind_unbind_multi_target_topic_type){ %>
                target_topic_type = Metro.getPlugin('#select_bind_target_topic_type_'+index_str, 'select').val();
            <% } else { %>
                target_topic_type = "<%=current_sub_service_page_info.bind_unbind_target_topic_type%>";
            <% }
        } 
        %>

        if(target_address_type=="Broadcast")
        {

        }
        else{
            Metro.dialog.open('#select_bind_target_modal_' + index_str);
            if(target_address_type=="Device")
            {
                Print_Bind_Unbind_Avaliable_Device_List(index_str, target_topic_type, 'bind_unbind_target_list_' + index_str);
            }
            if(target_address_type=="Group")
            {
                Print_Bind_Unbind_Avaliable_Group_List(index_str, target_topic_type, 'bind_unbind_target_list_' + index_str);
            }
        }
    }

    function onClick_Selected_Target_Tile(index_str, display_area_id, address_ID)
    {
        var tile_selected = $('#device_'+index_str+'_bind_target_'+address_ID).hasClass("selected");

        $('#'+display_area_id+" div").removeClass("selected");

        if(!tile_selected)
        {
            $('#device_'+index_str+'_bind_target_'+address_ID).addClass("selected");
            Handle_Bind_Unbind_Target_Tile_Selected_Event(address_ID);
        }
        else
        {
            Handle_Bind_Unbind_Target_Tile_UnSelected_Event(address_ID);
        }

        if($('#'+display_area_id+" div").hasClass("selected"))
        {
            $('#bind_confirm_select_target_btn_'+index_str).prop('disabled', false);
        }
        else{
            $('#bind_confirm_select_target_btn_'+index_str).prop('disabled', true);
        }
    }

    function onClick_Confirm_Select_Target_Btn(index_str, display_area_id)
    {
        var selected_tile_id = $('#'+display_area_id+" .selected").attr("id");
        if(selected_tile_id==null){return;}
        var header_str = "device_"+index_str+"_bind_target_";
        var header_length = header_str.length;
        var header_start_idx = selected_tile_id.indexOf(header_str);
        if(header_start_idx>=0)
        {
            var address_ID = selected_tile_id.substring(header_length);

            <% if(bind_unbind_multi_target_topic_type){ %>
                var target_topic_type = Metro.getPlugin('#select_bind_target_topic_type_'+index_str, 'select').val();
            <% } 
            else { %>
                var target_topic_type = "<%=current_sub_service_page_info.bind_unbind_target_topic_type%>";
            <% }  %>
        
            Handle_Target_Address_ID_Changed(Metro.getPlugin('#select_bind_target_address_type_'+index_str, 'select').val(), target_topic_type, index_str, address_ID);
            $('#bind_unbind_selected_target_text_area_'+index_str).val(address_ID);
            Metro.dialog.close('#select_bind_target_modal_' + index_str);
        }
    }

    function onClick_Save_Bind_Settings_Btn(index_str, display_area_id)
    {
        var src_dev_node_index = null;
        var selected_btn_id = $('#device_'+index_str+'_switch_list .js-active').attr("id");
        if(selected_btn_id==null){
            Print_Status_Error("device_"+index_str+"_select_switch_status");
            return;
        }
        var btn_header_str = "device_"+index_str+"_select_switch_";
        var btn_header_length = btn_header_str.length;
        var btn_header_start_idx = selected_btn_id.indexOf(btn_header_str);
        if(btn_header_start_idx>=0)
        {
            src_dev_node_index = Number(selected_btn_id.substring(btn_header_length));
        }
        if(src_dev_node_index==null)
        {
            Print_Status_Error("device_"+index_str+"_select_switch_status");
            return;
        }
        Print_Status_OK("device_"+index_str+"_select_switch_status");

        var src_dev_action = null;
        var selected_tile_id = $('#device_'+index_str+'_support_actions_list .selected').attr("id");
        if(selected_tile_id==null){
            Print_Status_Error("device_"+index_str+"_select_action_status");
            return;
        }
        var tile_header_str = "device_"+index_str+"_switch_action_";
        var tile_header_length = tile_header_str.length;
        var tile_header_start_idx = selected_tile_id.indexOf(tile_header_str);
        if(tile_header_start_idx>=0)
        {
            src_dev_action = selected_tile_id.substring(tile_header_length);
        }
        if(src_dev_action==null)
        {
            Print_Status_Error("device_"+index_str+"_select_action_status");
            return;
        }
        Print_Status_OK("device_"+index_str+"_select_action_status");

        var target_address_type = Metro.getPlugin('#select_bind_target_address_type_'+index_str, 'select').val();
        if(target_address_type==null)
        {
            Print_Status_Error("device_"+index_str+"_select_target_status");
            return;
        }
        var target_address_ID = $('#bind_unbind_selected_target_text_area_'+index_str).val();
        if(target_address_ID==null)
        {
            Print_Status_Error("device_"+index_str+"_select_target_status");
            return;
        }
        Print_Status_OK("device_"+index_str+"_select_target_status");

        var target_topic_type = null;
        <% if(bind_unbind_multi_target_topic_type){ %>
            target_topic_type = Metro.getPlugin('#select_bind_target_topic_type_'+index_str, 'select').val();
        <% } 
        else { %>
            target_topic_type = "<%=current_sub_service_page_info.bind_unbind_target_topic_type%>";
        <% }  %>

        var target_action_info = null;
        if(src_dev_action=="default")
        {
            target_action_info = {
                conditions: [],
                command_topic: Get_Action_Command_Topic(target_topic_type),
                command_type: target_topic_type,
                command: "default",
                param: {}
            };
        }
        else{
            target_action_info = Get_Action_Settings_Info(target_address_type, target_topic_type, target_address_ID, index_str);
            if(target_action_info==null)
            {
                return;
            }
        }

        var device_type = Get_Accessories_Device_Type_By_Index(Number(index_str));
        var device_id = Get_Accessories_Device_ID_By_Index(Number(index_str));
        
        Config_Bind_Action(device_type, device_id, src_dev_node_index, src_dev_action, 
                            target_address_type, target_address_ID, target_action_info);

                                              
        need_save_change[Number(index_str)] = false;

        $('#device_'+index_str+'_toolbar_display_area').html('');
    }

    function Print_BindUnbind_Operation_Toolbar(index_str)
    {
        var show_toolbar = [];

        show_toolbar.push("<div class=\"row\">");

        show_toolbar.push("<div class=\"cell-2\">");
        <% if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){ %>
            show_toolbar.push("<button href=\"#\" class=\"button cycle large fg-white <%=current_sub_service_page_info.button_background_css%>\" onclick=\"onClick_GoBack_Accessories_List_Btn('"+index_str+"')\"><span class=\"mif-arrow-left\"></span></button>");
        <% } %>
        show_toolbar.push("</div>");
             
        show_toolbar.push("<div class=\"cell-9\">");
        show_toolbar.push("<div id=\"device_"+index_str+"_toolbar_display_area\" style=\"float:right\"/>");
        show_toolbar.push("</div>");
        show_toolbar.push("<div class=\"cell-1\"/>");

        show_toolbar.push("</div>");

        $('#bind_unbind_toolbar').html('');
        $('#bind_unbind_toolbar').html(show_toolbar.join(''));
    }

    function Print_Save_Settings_Btn(index_str)
    {
        need_save_change[Number(index_str)] = true;

        var show_save_btn = [];

        show_save_btn.push("<button href=\"#\" id=\"device_"+index_str+"_save_settings_btn\" \
                            class=\"button square large fg-white <%=current_sub_service_page_info.button_background_css%>\" \
                            onclick=\"onClick_Save_Bind_Settings_Btn('"+index_str+"')\"><span class=\"mif-floppy-disk\"></span></button>");
    
        $('#device_'+index_str+'_toolbar_display_area').html('');
        $('#device_'+index_str+'_toolbar_display_area').html(show_save_btn.join(''));
    }

    function Get_Source_Device_Select_Node_Index(index_str)
    {
        var src_dev_node_index = null;
        var selected_btn_id = $('#device_'+index_str+'_switch_list .js-active').attr("id");
        if(selected_btn_id==null){
            return null;
        }
        var btn_header_str = "device_"+index_str+"_select_switch_";
        var btn_header_length = btn_header_str.length;
        var btn_header_start_idx = selected_btn_id.indexOf(btn_header_str);
        if(btn_header_start_idx>=0)
        {
            src_dev_node_index = Number(selected_btn_id.substring(btn_header_length));
        }
        return src_dev_node_index;
    }

    function Get_Source_Device_Select_Action(index_str)
    {
        var src_dev_action = null;
        var selected_tile_id = $('#device_'+index_str+'_support_actions_list .selected').attr("id");
        if(selected_tile_id==null){
            return null;
        }
        var tile_header_str = "device_"+index_str+"_switch_action_";
        var tile_header_length = tile_header_str.length;
        var tile_header_start_idx = selected_tile_id.indexOf(tile_header_str);
        if(tile_header_start_idx>=0)
        {
            src_dev_action = selected_tile_id.substring(tile_header_length);
        }
        return src_dev_action;
    }

    function Update_Bind_Action_Settings(index_str)
    {
        var src_dev_node_index = Get_Source_Device_Select_Node_Index(index_str)
        if(src_dev_node_index==null){
            return null;
        }

        var src_dev_action = Get_Source_Device_Select_Action(index_str)
        if(src_dev_action==null){
            return null;
        }

        var device_type = Get_Accessories_Device_Type_By_Index(Number(index_str));
        var device_id = Get_Accessories_Device_ID_By_Index(Number(index_str));
        
        GET_Bind_Action_Info(device_type, device_id, src_dev_node_index, src_dev_action, function(rsp_json){
            Metro.getPlugin('#select_bind_target_address_type_'+index_str, 'select').val([rsp_json.target_address_type]);
            
            <% if(bind_unbind_multi_target_topic_type){ %>
                if(Do_Check_Target_Topic_Match(rsp_json.command_type))
                {
                    Metro.getPlugin('#select_bind_target_topic_type_'+index_str, 'select').val([rsp_json.command_type]);
                }
            <% }  %>
        
            $('#bind_unbind_selected_target_text_area_'+index_str).val(rsp_json.target_address_ID);

            Handle_Target_Address_ID_Changed(rsp_json.target_address_type, rsp_json.command_type, index_str, rsp_json.target_address_ID);
            
            if(rsp_json.command!="default" && rsp_json.command!="Default")
            {
                if(Do_Check_Target_Topic_Match(rsp_json.command_type))
                {
                    Show_Bind_Unbind_Target_Action_Settings(rsp_json.target_address_type, rsp_json.command_type, index_str, "device_"+index_str+"_target_action_settings_display_area");

                    Handle_Update_Bind_Action_Settings_Info(rsp_json.target_address_type,
                                                            rsp_json.command_type, 
                                                            rsp_json.target_address_ID, 
                                                            index_str, rsp_json);
                }
            }
        });
    }
    
    function onClick_Select_Switch_Btn(index_str)
    {
        Print_Save_Settings_Btn(index_str);
        Update_Bind_Action_Settings(index_str);
    }

    function onClick_Select_Action_Tile(index_str, tile_id_str, action)
    {
        $('#device_'+index_str+'_support_actions_list div').removeClass('selected');
        $('#'+tile_id_str).toggleClass('selected');
        Print_Save_Settings_Btn(index_str);

        if(action=="default" || action=="Default")
        {
            $('#device_'+index_str+'_target_action_settings_display_area').html('');
        }
        else{
            var target_address_type = Metro.getPlugin('#select_bind_target_address_type_'+index_str, 'select').val();
        
            var target_topic_type = null;
            <% if(bind_unbind_multi_target_topic_type){ %>
                target_topic_type = Metro.getPlugin('#select_bind_target_topic_type_'+index_str, 'select').val();
            <% } 
            else { %>
                target_topic_type = "<%=current_sub_service_page_info.bind_unbind_target_topic_type%>";
            <% }  %>

            if(Do_Check_Target_Topic_Match(target_topic_type))
            {
                Show_Bind_Unbind_Target_Action_Settings(target_address_type, target_topic_type, index_str, "device_"+index_str+"_target_action_settings_display_area");
            }
        }

        Update_Bind_Action_Settings(index_str);
    }

    function onClick_Select_Target_Address_Type_Selector(target_address_type, index_str)
    {
        Print_Save_Settings_Btn(index_str);

        <% if(bind_unbind_multi_target_topic_type){ %>
            var target_topic_type = Metro.getPlugin('#select_bind_target_topic_type_'+index_str, 'select').val();
        <% } 
        else { %>
            var target_topic_type = "<%=current_sub_service_page_info.bind_unbind_target_topic_type%>";
        <% }  %>
        
        var src_dev_action = Get_Source_Device_Select_Action(index_str);

        if(src_dev_action!=null)
        {
            if(src_dev_action!="default" && src_dev_action!="Default")
            {
                if(Do_Check_Target_Topic_Match(target_topic_type))
                {
                    Show_Bind_Unbind_Target_Action_Settings(target_address_type, target_topic_type, index_str, "device_"+index_str+"_target_action_settings_display_area");
                }
            }
        }
        
        $('#bind_unbind_selected_target_text_area_'+index_str).val("");
        
        Handle_Target_Address_ID_Changed(target_address_type, target_topic_type, index_str, null);
    }

    function onClick_Select_Target_Topic_Type_Selector(target_topic_type, index_str)
    {
        Print_Save_Settings_Btn(index_str);

        var target_address_type = Metro.getPlugin('#select_bind_target_address_type_'+index_str, 'select').val();
        
        var src_dev_action = Get_Source_Device_Select_Action(index_str);

        if(src_dev_action!=null)
        {
            if(src_dev_action!="default" && src_dev_action!="Default")
            {
                if(Do_Check_Target_Topic_Match(target_topic_type))
                {
                    Show_Bind_Unbind_Target_Action_Settings(target_address_type, target_topic_type, index_str, "device_"+index_str+"_target_action_settings_display_area");
                }
            }
        }

        $('#bind_unbind_selected_target_text_area_'+index_str).val("");

        Handle_Target_Address_ID_Changed(target_address_type, target_topic_type, index_str, null);
    }

    function Show_BindUnbind_OP_Page(index_str)
    {
        if($('#bind_unbind_display_area').hasClass('gridly'))
        {
            $('#bind_unbind_display_area').removeClass('gridly');
        }

        Print_BindUnbind_Operation_Toolbar(index_str);

        const selectTargetButtons = [{
            html: "<span class='mif-list'></span>",
            cls: "fg-white <%=current_sub_service_page_info.button_background_css%>",
            onclick: "onClick_Show_Target_List_Btn('"+index_str+"'); Print_Save_Settings_Btn('"+index_str+"')"
        }];

        need_save_change[Number(index_str)] = false;

        var show_bind_op_page = [];

        show_bind_op_page.push("<div class=\"grid\" style=\"width:100%\">");

        show_bind_op_page.push("<div class=\"row\" style=\"width:100%\">");
        show_bind_op_page.push("<div class=\"cell-5\">");
        show_bind_op_page.push("<div class=\"row\">");
        show_bind_op_page.push("<h2 class=\"<%=current_sub_service_page_info.page_text_color%>\">選取編號</h2>");
        show_bind_op_page.push("<div style=\"margin-left: 5px\" id=\"device_"+index_str+"_select_switch_status\"/>");
        show_bind_op_page.push("</div>");
        show_bind_op_page.push("<div class=\"row\" style=\"width:100%\">");
        show_bind_op_page.push("<div id=\"device_"+index_str+"_select_switch_display_area\"/>");
        show_bind_op_page.push("</div>");
        show_bind_op_page.push("</div>");
        show_bind_op_page.push("<div class=\"cell-7\">");
        show_bind_op_page.push("<div style=\"width:100%;margin-left:5px\" id=\"device_"+index_str+"_support_actions_display_area\"/>");
        show_bind_op_page.push("</div>");
        show_bind_op_page.push("</div>");

        show_bind_op_page.push("<div class=\"row\" style=\"width:100%\">");
        show_bind_op_page.push("<h2 class=\"<%=current_sub_service_page_info.page_text_color%>\">選取目標</h2>");
        show_bind_op_page.push("<div style=\"margin-left: 5px\" id=\"device_"+index_str+"_select_target_status\"/>");
        show_bind_op_page.push("</div>"); //row

        show_bind_op_page.push("<div class=\"row\" style=\"width:100%\">");
        show_bind_op_page.push("<div class=\"cell-md-3\">");
        show_bind_op_page.push("<select data-role=\"select\" data-filter=\"false\" id=\"select_bind_target_address_type_"+index_str+"\" data-on-item-select=\"onClick_Select_Target_Address_Type_Selector(this.value, '"+index_str+"')\">");
        show_bind_op_page.push("<option value=\"Device\" data-template=\"<span class='mif-target icon'></span> $1\">單一裝置</option>");
        show_bind_op_page.push("<option value=\"Group\" data-template=\"<span class='mif-flow-tree icon'></span> $1\">群組</option>");
        show_bind_op_page.push("</select>");
        show_bind_op_page.push("</div>"); //cell-md-3
        
        <% if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){
            var bind_unbind_multi_target_topic_type = false;
            if(current_sub_service_page_info.bind_unbind_multi_target_topic_type!=null &&
                current_sub_service_page_info.bind_unbind_target_topic_type_list!=null &&
                current_sub_service_page_info.bind_unbind_target_topic_icon_type_list!=null &&
                current_sub_service_page_info.bind_unbind_target_topic_icon_list!=null){
                    if(current_sub_service_page_info.bind_unbind_multi_target_topic_type=true){
                        bind_unbind_multi_target_topic_type = true;
                    }
            }

            var target_topic_type_list = [];
            if(bind_unbind_multi_target_topic_type){
                target_topic_type_list = current_sub_service_page_info.bind_unbind_target_topic_type_list;
            }
            else{
                target_topic_type_list = [current_sub_service_page_info.bind_unbind_target_topic_type];
            } %>
            
            show_bind_op_page.push("<div class=\"cell-md-4\">");
            show_bind_op_page.push("<select data-role=\"select\" data-filter=\"false\" data-drop-height=\"100px\" id=\"select_bind_target_topic_type_"+index_str+"\" data-on-item-select=\"onClick_Select_Target_Topic_Type_Selector(this.value, '"+index_str+"')\">");
            <%
                var page_group_list = nav_page_info.page_group_list;
                var select_item_icon_data_template;
                for(var i = 0; i<page_group_list.length; i++){
                    if(page_group_list[i].page_group_topic=="Device MGMT")
                    {
                        for(var m = 0; m<target_topic_type_list.length; m++)
                        { 
                            for(var j = 0; j<page_group_list[i].page_list.length; j++){
                                if(page_group_list[i].page_list[j].page_topic==target_topic_type_list[m])
                                {
                                    select_item_icon_data_template = "";
                                    switch(page_group_list[i].page_list[j].page_icon_type)
                                    {
                                        case "css":
                                            select_item_icon_data_template = "<span class='"+page_group_list[i].page_list[j].page_icon_css+" "+page_group_list[i].page_list[j].page_text_color+" icon'></span>";
                                            break;
                                        case "URL":
                                            select_item_icon_data_template = "<img class='icon' style='display: inline;' src='"+page_group_list[i].page_list[j].page_icon_color_URL+"'/>";
                                            break;
                                    } %>
                                    show_bind_op_page.push("<option value=\"<%=page_group_list[i].page_list[j].page_topic%>\" data-template=\"<%=select_item_icon_data_template%> $1\"><%=page_group_list[i].page_list[j].page_name%></option>");
                                <% }
                                else{
                                    if(page_group_list[i].page_list[j].sub_page_list!=null){
                                        for(var k = 0; k<page_group_list[i].page_list[j].sub_page_list.length; k++){
                                            if(page_group_list[i].page_list[j].sub_page_list[k].page_topic==target_topic_type_list[m])
                                            {
                                                select_item_icon_data_template = "";
                                                switch(page_group_list[i].page_list[j].sub_page_list[k].page_icon_type)
                                                {
                                                    case "css":
                                                        select_item_icon_data_template = "<span class='"+page_group_list[i].page_list[j].sub_page_list[k].page_icon_css+" "+page_group_list[i].page_list[j].sub_page_list[k].page_text_color+" icon'></span>";
                                                        break;
                                                    case "URL":
                                                        select_item_icon_data_template = "<img class='icon' style='display: inline;' src='"+page_group_list[i].page_list[j].sub_page_list[k].page_icon_color_URL+"'/>";
                                                        break;
                                                } %>
                                                show_bind_op_page.push("<option value=\"<%=page_group_list[i].page_list[j].sub_page_list[k].page_topic%>\" data-template=\"<%=select_item_icon_data_template%> $1\"><%=page_group_list[i].page_list[j].sub_page_list[k].page_name%></option>");
                                            <% }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            %>
            show_bind_op_page.push("</select>");
            show_bind_op_page.push("</div>"); //cell-md-4

            show_bind_op_page.push("<div class=\"cell-md-5\">");
            show_bind_op_page.push("<script>var selectTargetButtons="+JSON.stringify(selectTargetButtons)+"<"+"/script>");
            show_bind_op_page.push("<input type=\"text\" data-role=\"input\" \
                                    id=\"bind_unbind_selected_target_text_area_"+index_str+"\" \
                                    data-custom-buttons=\"selectTargetButtons\" \
                                    oninput=\"Handle_Target_Address_ID_Changed( \
                                        Metro.getPlugin('#select_bind_target_address_type_"+index_str+"', 'select').val(), \
                                        Metro.getPlugin('#select_bind_target_topic_type_"+index_str+"', 'select').val(), \
                                        '"+index_str+"', \
                                        this.value)\">");
            show_bind_op_page.push("</div>"); //cell-md-5
        <% } %>

        show_bind_op_page.push("</div>"); //row

        show_bind_op_page.push("<div class=\"row\" style=\"width:100%\">");
        show_bind_op_page.push("<div style=\"width:100%;\" id=\"device_"+index_str+"_target_action_settings_display_area\"/>");
        show_bind_op_page.push("</div>"); //row

        show_bind_op_page.push("<div class=\"row\" style=\"width: 100%;height: 100px\">");
        show_bind_op_page.push("</div>"); //row

        show_bind_op_page.push("</div>"); //grid

        var select_bind_target_modal_html = [];
        select_bind_target_modal_html.push("<div class=\"dialog\" data-role=\"dialog\" data-width=\"500\" id=\"select_bind_target_modal_" + index_str + "\">");
        select_bind_target_modal_html.push("<div class=\"dialog-title\"><h2 class=\"<%=current_sub_service_page_info.page_text_color%>\">選取目標</h2></div>");
        select_bind_target_modal_html.push("<div class=\"dialog-content\">");
        select_bind_target_modal_html.push("<div id=\"bind_unbind_target_list_"+index_str+"\" style=\"max-height:200px;overflow: auto;\"/>");
        select_bind_target_modal_html.push("</div>");
        select_bind_target_modal_html.push("<div class=\"dialog-actions text-right\">");
        select_bind_target_modal_html.push("<button class=\"button alert js-dialog-close\">離開</button>");
        select_bind_target_modal_html.push("<button class=\"button success\" disabled=\"true\" id=\"bind_confirm_select_target_btn_"+index_str+"\" onclick=\"onClick_Confirm_Select_Target_Btn('"+index_str+"','bind_unbind_target_list_"+index_str+"')\">確定</button>");
        select_bind_target_modal_html.push("</div>");
        select_bind_target_modal_html.push("</div>");
        select_bind_target_modal_html.push("</div>");

        select_bind_target_modal_html.push("<div class=\"dialog\" data-role=\"dialog\" id=\"confirm_goback_without_saveing_changes_modal_" + index_str + "\">");
        select_bind_target_modal_html.push("<div class=\"dialog-title\"><h2 class=\"<%=current_sub_service_page_info.page_text_color%>\">未儲存變更</h2></div>");
        select_bind_target_modal_html.push("<div class=\"dialog-content\">");
        select_bind_target_modal_html.push("<h2 class=\"fg-red\">確定要不儲存變更然後離開嗎?</h2>");
        select_bind_target_modal_html.push("</div>");
        select_bind_target_modal_html.push("<div class=\"dialog-actions text-right\">");
        select_bind_target_modal_html.push("<button class=\"button success\" onclick=\"onClick_Save_Bind_Settings_Btn('"+index_str+"','bind_unbind_target_list_"+index_str+"')\">儲存</button>");
        select_bind_target_modal_html.push("<button class=\"button alert js-dialog-close\" onclick=\"Show_Accessories_List_Page()\">放棄</button>");
        select_bind_target_modal_html.push("<button class=\"button warning js-dialog-close\">繼續編輯</button>");
        select_bind_target_modal_html.push("</div>");
        select_bind_target_modal_html.push("</div>");
        select_bind_target_modal_html.push("</div>");

        $('#bind_unbind_display_area').html('');
        $('#bind_unbind_display_area').html(show_bind_op_page.join(''));

        $('#bind_unbind_modal_lst').html('');
        $('#bind_unbind_modal_lst').html(select_bind_target_modal_html.join(''));

        var device_type = Get_Accessories_Device_Type_By_Index(Number(index_str));
        var device_id = Get_Accessories_Device_ID_By_Index(Number(index_str));

        GET_Device_Num_Of_Node(device_type, device_id, function(num_sw_rsp_json){
            var show_switches_select_btns = [];

            show_switches_select_btns.push("<div data-role=\"buttongroup\" id=\"device_"+index_str+"_switch_list\" data-cls-active=\"<%=current_sub_service_page_info.button_background_css%> fg-white\">");
            for(var i = 0; i<num_sw_rsp_json.num_of_node; i++)
            {
                show_switches_select_btns.push("<button class=\"button\" style=\"width: 50px;margin-bottom: 5px;text-align:center;margin-right: 10px\"\
                                                id=\"device_"+index_str+"_select_switch_"+i+"\" onclick=\"onClick_Select_Switch_Btn('"+index_str+"');\">"+i+"</button>");
            }
            show_switches_select_btns.push("</div>");

            $('#device_'+index_str+"_select_switch_display_area").html('');
            $('#device_'+index_str+"_select_switch_display_area").html(show_switches_select_btns.join(''));

            GET_Accessories_Device_Support_Actions(device_type, device_id, function(sp_actions_rsp_json){
                if(num_sw_rsp_json!=null)
                {
                    var show_support_actions_bar = [];

                    show_support_actions_bar.push("<div class=\"row\" style=\"width:100%\">");
                    show_support_actions_bar.push("<h2 class=\"<%=current_sub_service_page_info.page_text_color%>\">選取動作</h2>");
                    show_support_actions_bar.push("<div style=\"margin-left: 5px\" id=\"device_"+index_str+"_select_action_status\"/>");
                    show_support_actions_bar.push("</div>");

                    show_support_actions_bar.push("<div class=\"row\" style=\"width:100%\" id=\"device_"+index_str+"_support_actions_list\">");
                    var support_actions = sp_actions_rsp_json.support_actions;
                    for(var i = 0; i<support_actions.length; i++)
                    {
                        show_support_actions_bar.push("<div data-role=\"hint\" style=\"margin-right: 10px; margin-bottom: 10px;\" \
                                                      class=\"tile-small fg-white <%=current_sub_service_page_info.tile_background_css%>\" \
                                                      data-hint-position=\"top\" data-hint-text=\""+Resolv_Accessories_Device_Action_Description(device_type, support_actions[i])+"\" \
                                                      onclick=\"onClick_Select_Action_Tile('"+index_str+"', this.id, '"+support_actions[i]+"');\" \
                                                      id=\"device_"+index_str+"_switch_action_"+support_actions[i]+"\">");
                        show_support_actions_bar.push(Resolv_Accessories_Device_Action_Icon(device_type, support_actions[i]));
                        show_support_actions_bar.push("</div>");
                    }
                    show_support_actions_bar.push("</div>");

                    $('#device_'+index_str+"_support_actions_display_area").html('');
                    $('#device_'+index_str+"_support_actions_display_area").html(show_support_actions_bar.join(''));
                }
            });
        });
    }

    function onClick_GoBack_Accessories_List_Btn(index_str)
    {
        var need_save = false;
        if(need_save_change[Number(index_str)]!=null)
        {
            if(need_save_change[Number(index_str)]==true)
            {
                need_save = true;
            }
        }

        if(need_save)
        {
            Metro.dialog.open('#confirm_goback_without_saveing_changes_modal_' + index_str);
        }
        else{
            Show_Accessories_List_Page();
        }
    }

    </script> 
    <% } %>
</head>
    <body>
        <% if(service_page_info!=null && current_topic_page_info!=null){ %>
            <%- include("../sidebar/sidebar.ejs", {
                session_token: session_token,
                language: language,
                username: username,
                topic: topic,
                current_page_name: current_page_name,
                page_group_list: nav_page_info.page_group_list
            }); %>
        <% } %>
        <div class="aaa h-100" style="padding-top: 150px">
            <% if(service_page_info!=null && current_topic_page_info!=null){ %>
                <div class="app-bar pos-absolute z-1" data-role="appbar" id="app-bar-1" data-role-appbar="true" style="height: 150px;background-image: url('../..<%=current_topic_page_info.page_background_URL%>');background-position: 50% 50%;">
                    <div style="background: rgba(30, 30, 30, 0.5);height: 100%;width: 100%">
                        <button type="button" class="hamburger menu-down hidden" style="display: none;">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </button>
                        <button class="app-bar-item c-pointer" style="background: transparent" id="sidebar-toggle">
                            <span class="mif-menu mif-2x fg-white" style="left: 5px "></span>
                        </button>
                    </div>
                </div>
                <div class="h-100 p-6">
                <% if(current_sub_service_page_info==null){ %>
                    <div class="tiles-grid z-1">
                    <% for(var k = 0; k<current_topic_page_info.sub_page_list.length; k++){
                        switch(current_topic_page_info.sub_page_list[k].tile_background_type){
                            case "css": %>
                                <a href="<%=current_topic_page_info.sub_page_list[k].page_URL%>" data-role="tile" data-size="<%=current_topic_page_info.sub_page_list[k].tile_size%>" class="<%=current_topic_page_info.sub_page_list[k].tile_background_css%> fg-white">
                                <% switch(current_topic_page_info.sub_page_list[k].tile_icon_type){
                                    case "css": %>
                                        <span class="<%=current_topic_page_info.sub_page_list[k].tile_icon_css%> mif-4x icon"></span>
                                        <span class="branding-bar" style="font-size: 20px"><%=current_topic_page_info.sub_page_list[k].page_name%></span>
                                        <% break;
                                    case "URL": %>
                                        <img class="icon" style="display: inline;" src="<%=current_topic_page_info.sub_page_list[k].tile_icon_URL%>"/>
                                        <span class="branding-bar" style="font-size: 20px"><%=current_topic_page_info.sub_page_list[k].page_name%></span>
                                        <% break;
                                } %>
                                </a>
                                <% break;
                            case "URL": %>
                                <a href="<%=current_topic_page_info.sub_page_list[k].page_URL%>" data-role="tile" data-size="<%=current_topic_page_info.sub_page_list[k].tile_size%>" class="fg-white" data-cover="<%=current_topic_page_info.sub_page_list[k].tile_background_URL%>">
                                    <span class="branding-bar"><%=current_topic_page_info.sub_page_list[k].page_name%></span>
                                </a>
                                <% break;
                        }
                    } %>
                    </div>
                <% } else { %>
                    <div class="grid">
                        <div class="row">
                            <div class="cell-md-3 offset-1" style="margin-bottom: 20px">
                                <ul class="sidenav-simple sidenav-simple-expand-fs h-auto" style="background-color: #FFF">
                                    <% for(var k = 0; k<current_topic_page_info.sub_page_list.length; k++){
                                        if(current_topic_page_info.sub_page_list[k].page_topic==sub_service){ %>
                                            <li class="active <%=current_topic_page_info.sub_page_list[k].page_background_color%>">
                                                <a href="#">
                                                    <% switch(current_topic_page_info.sub_page_list[k].page_icon_type){
                                                        case "css": %>
                                                            <div class="<%=current_topic_page_info.sub_page_list[k].page_icon_css%> fg-white icon"></div>
                                                            <% break;
                                                        case "URL": %>
                                                            <img class="icon" style="display: inline" src="<%=current_topic_page_info.sub_page_list[k].page_icon_URL%>"/>
                                                            <% break;
                                                    } %>
                                                    <div class="title fg-white" style="font-size: 20px;"><%=current_topic_page_info.sub_page_list[k].page_name%></div>
                                                </a>
                                            </li>
                                        <% } else{ %>
                                            <li>
                                                <a href="<%=current_topic_page_info.sub_page_list[k].page_URL%>">
                                                    <% switch(current_topic_page_info.sub_page_list[k].page_icon_type){
                                                        case "css": %>
                                                            <div class="<%=current_topic_page_info.sub_page_list[k].page_icon_css%> <%=current_topic_page_info.sub_page_list[k].page_text_color%> icon"></div>
                                                            <% break;
                                                        case "URL": %>
                                                            <img class="icon" style="display: inline" src="<%=current_topic_page_info.sub_page_list[k].page_icon_color_URL%>"/>
                                                            <% break;
                                                    } %>
                                                    <div class="title <%=current_topic_page_info.sub_page_list[k].page_text_color%>" style="font-size: 20px;"><%=current_topic_page_info.sub_page_list[k].page_name%></div>
                                                </a>
                                            </li>
                                        <% }
                                    } %>
                                </ul>
                            </div>
                            <div class="cell-md-8">
                                <% if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){ %>
                                <div class="row">
                                    <div id="bind_unbind_toolbar" style="width:100%"></div>
                                </div>
                                <% } %>
                                <div class="row">
                                    <div class="cell-md-11">
                                        <div id="bind_unbind_display_area" class="gridly" style="width:100%;margin-left: 10px;"></div>
                                    </div>
                                    <div class="cell-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }
            } %>
        </div>
        <div id="bind_unbind_modal_lst"></div>
    </body>
</html>  
