<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8"> 
    
    <%
    var path_offset = "";
    var service_page_info = null;
    var current_page_name = "";
    var current_topic_page_info = null;
    var current_sub_service_page_info = null;
    for(var i = 0; i<nav_page_info.page_group_list.length; i++){
        if(nav_page_info.page_group_list[i].page_group_topic=="Service")
        {
            service_page_info = nav_page_info.page_group_list[i];
            for(var j = 0; j<service_page_info.page_list.length; j++){
                if(service_page_info.page_list[j].page_topic==topic) {
                    current_topic_page_info = service_page_info.page_list[j];
                    if(sub_service!=null && sub_service!="Not Specific") {
                        path_offset = "../..";
                        for(var k = 0; k<current_topic_page_info.sub_page_list.length; k++){
                            if(current_topic_page_info.sub_page_list[k].page_topic==sub_service) {
                                current_sub_service_page_info = current_topic_page_info.sub_page_list[k];
                                break;
                            }
                        }
                    }
                    else{
                        path_offset = "..";
                    }
                    break;
                }
            }
        }
    }

    if(service_page_info!=null)
    {
        if(current_topic_page_info!=null)
        {
            if(current_sub_service_page_info==null){
                current_page_name = current_topic_page_info.page_name
            } else{
                current_page_name = current_sub_service_page_info.page_name
            } %>
            <title><%=current_page_name%></title>
        <% }
    }
    %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <% if(service_page_info!=null && current_topic_page_info!=null){ %>
        <link href="<%=(path_offset+current_topic_page_info.page_title_icon)%>" rel="SHORTCUT ICON">
    <% } %>
    
    <link rel="stylesheet" type="text/css" href="<%=path_offset%>/css/metro-all.min.css">
    <link rel="stylesheet" type="text/css" href="<%=path_offset%>/css/jquery.gridly.css">

    <% if(current_sub_service_page_info!=null){
        if(current_sub_service_page_info.additional_css_URL_list!=null){
            for(var i = 0; i<current_sub_service_page_info.additional_css_URL_list.length; i++){ %>
                <link rel="stylesheet" type="text/css" href="<%=(path_offset+current_sub_service_page_info.additional_css_URL_list[i])%>">
    <%      }
        }
    } %>

    <link rel="stylesheet" type="text/css" href="<%=path_offset%>/css/c3.min.css">
    <script src="<%=path_offset%>/js/d3.min.js"></script>
    <script src="<%=path_offset%>/js/c3.min.js"></script>

    <style>
        .dropdown-toggle::before{
            border-color: #fff;
        }

        .device_name{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
        }
    </style>

    <script type="text/javascript" src="<%=path_offset%>/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="<%=path_offset%>/js/websocket.js"></script>
    <script type="text/javascript" src="<%=path_offset%>/js/metro.min.js"></script> 
    <script type="text/javascript" src="<%=path_offset%>/js/jquery.gridly.js"></script>

    <% 
    if(current_sub_service_page_info!=null){
        if(current_sub_service_page_info.additional_js_URL_list!=null){
            for(var i = 0; i<current_sub_service_page_info.additional_js_URL_list.length; i++){ %>
                <script type="text/javascript" src="<%=(path_offset+current_sub_service_page_info.additional_js_URL_list[i])%>"></script> 
    <%      }
        }
    } %>

    <script type="text/javascript" src="<%=path_offset%>/js/parse.js"></script> 
    
    <% if(service_page_info!=null && current_topic_page_info!=null && current_sub_service_page_info!=null){ %>
    
    <script type="text/javascript" src="<%=(path_offset+current_sub_service_page_info.page_control_js_URL)%>"></script> 
    
    <script type="text/javascript">

    var ws_get_sb = null;
    
    var serverURI = window.location.host;
        
    var currentUser = null;
    $(document).ready(function() {
        websocket_init(serverURI, "<%=session_token%>", null, Handle_Device_WebSocket_POST_Message, Handle_Device_WebSocket_GET_Message, null, null);
    });

    (function () {
        $(function () {
            $('.gridly').gridly({
                base: 80, // px
                gutter: 8, // px
                columns: 8,
                'responsive': true
            });
            $(document).on("change", ".gridly", function (event) {
                event.preventDefault();
                event.stopPropagation();
                return $('.gridly').gridly();
            });
            return $('.gridly').gridly();
        });

    }).call(this);

    </script> 
    <% } %>
</head>
    <body>
        <% if(service_page_info!=null && current_topic_page_info!=null){ %>
            <%- include("../sidebar/sidebar.ejs", {
                session_token: session_token,
                language: language,
                topic: topic,
                current_page_name: current_page_name,
                page_group_list: nav_page_info.page_group_list
            }); %>
        <% } %>
        <div class="aaa h-100" style="padding-top: 150px">
            <% if(service_page_info!=null && current_topic_page_info!=null){ %>
                <div class="app-bar pos-absolute z-1" data-role="appbar" id="app-bar-1" data-role-appbar="true" style="height: 150px;background-image: url('../..<%=current_topic_page_info.page_background_URL%>');background-position: 50% 50%;">
                    <div style="background: rgba(30, 30, 30, 0.5);height: 100%;width: 100%">
                        <button type="button" class="hamburger menu-down hidden" style="display: none;">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </button>
                        <button class="app-bar-item c-pointer" style="background: transparent" id="sidebar-toggle">
                            <span class="mif-menu mif-2x fg-white" style="left: 5px "></span>
                        </button>
                    </div>
                </div>
                <div class="h-100 p-6">
                <% if(current_sub_service_page_info==null){ %>
                    <div class="tiles-grid z-1">
                    <% for(var k = 0; k<current_topic_page_info.sub_page_list.length; k++){
                        switch(current_topic_page_info.sub_page_list[k].tile_background_type){
                            case "css": %>
                                <a href="<%=current_topic_page_info.sub_page_list[k].page_URL%>" data-role="tile" data-size="<%=current_topic_page_info.sub_page_list[k].tile_size%>" class="<%=current_topic_page_info.sub_page_list[k].tile_background_css%> fg-white">
                                <% switch(current_topic_page_info.sub_page_list[k].tile_icon_type){
                                    case "css": %>
                                        <span class="<%=current_topic_page_info.sub_page_list[k].tile_icon_css%> mif-4x icon"></span>
                                        <span class="branding-bar" style="font-size: 20px"><%=current_topic_page_info.sub_page_list[k].page_name%></span>
                                        <% break;
                                    case "URL": %>
                                        <img class="icon" style="display: inline;" src="<%=current_topic_page_info.sub_page_list[k].tile_icon_URL%>"/>
                                        <span class="branding-bar" style="font-size: 20px"><%=current_topic_page_info.sub_page_list[k].page_name%></span>
                                        <% break;
                                } %>
                                </a>
                                <% break;
                            case "URL": %>
                                <a href="<%=current_topic_page_info.sub_page_list[k].page_URL%>" data-role="tile" data-size="<%=current_topic_page_info.sub_page_list[k].tile_size%>" class="fg-white" data-cover="<%=current_topic_page_info.sub_page_list[k].tile_background_URL%>">
                                    <span class="branding-bar"><%=current_topic_page_info.sub_page_list[k].page_name%></span>
                                </a>
                                <% break;
                        }
                    } %>
                    </div>
                <% }
            } %>
        </div>
        <div id="service_modal_lst"></div>
    </body>
</html>  
